 body {
            background-color: #f2f2f2;
        }
        .header,.header2 {
            display: flex;
            justify-content: center;
        }
        .header-bar1 {
            position:fixed;
            top: 0;
        }
        
        .header2-bar2 {
            position: fixed;
            top: 41;
        }
        .header-bar1,.header2-bar2 {
            overflow: hidden;
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            align-items: center;
            width: 100%;
            height: 2.5em;
            border-bottom-style: ridge;
            border-bottom-color: #d3d3d3;
            border-bottom-width: thin;
            border-top-style: ridge;
            border-top-color: #d3d3d3;
            border-top-width: thin;
            background-color:#FFFFFF;
            border-color: #c7c7c7;
        }
        .item-container {
            width: 25%;
            display: flex;
            justify-content:space-between;
            margin-left: 2em;
            
        }
        
        .item {
            color: #CCCCCC;
            font-family: Calibri;
            font-size: 1.1em;
        }
        
        .greetings {
            color: #0092D1;
            margin-right: 1.5em;
            font-size: 1.2em;
            font-family: SignPainter;
        }
        
        a:link {
            text-decoration:none;
        }
        
        .bar-item-container:hover {
            background-color: #E5E5E5;
        }
        
        .bar-item-container {
            align-self: center;
            width: 30%;
            margin: 0.1em;
        }
        
        .item-container2 {
            width: 100%;
            display: flex;
            justify-content:space-between;
            margin-left: 2em;
            margin-right: 2em;
        }
        
        .item-container3 {
            display: flex;
            justify-content: space-between;
            margin-right: 2em;
        }
        .bar-item, .bar-item2 {
            font-family: "Open Sans";
            font-size: 15px;
            font-style:normal;
            font-variant:normal;
            font-weight:500;
            line-height: 2.5em;
            
        }
        
        .bar-item {
            text-align: center;
        }
        .bar-photo {
            padding-top: 0.22em;
        }
        
        .search {
            width: 100%;
            height: 55%;
            padding: 12px 20px 12px 40px;
            margin-top: 0.6em;
            display: inline-flex;
            box-sizing: border-box;
            background-image: url('magnifyglass.png');
            background-position: 6px 0px; 
            background-size: 25px;
            background-repeat: no-repeat;
            border-style:inset;
            border-radius: 1.5em;
            border-color: #e5e5e5;
            border-width: thin;
        }
        
        .bigtext {
            color: #E78C07;
            font-family: Calibri;
            font-weight: bold;
            font-size: 1.8em;
            line-height: 1.4em;
        }
        
        .middle {
            position: fixed;
            top: 15%;
			left: 1%;
			height: 80%;
			width: 98%;
        }
        
        th,td {
            border-bottom: 1px solid #ddd;
            font-family: Calibri;
            text-align: center;
        }
        
        table {
            width: 100%;
            border-collapse: collapse;
            font-size: 16px;
        }
        
        th {
            height:2%;
			width: 2%;
            color: white;
            background-color: #0092D1;
        }
        
        td {
            color: black;
        }
        
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        
        tr:hover {
            background-color: darkgray;
        }b  n    
        
        .middle {
            padding-left: 1%;
        }
        
        .table-container {
            background-color: #FFFFFF;
            width: 100%;
            height: 80%;
        }
        
        .top-color {
            background-color: #0092D1;
            width:100%;
            height: 4%;
            color: #0092D1;
        }

        #sortcontainer {
            width: 100%;
            height: 7%;
            margin-left: 80%;
        }

        .sorttext {
            color: #E78C07;
            font-family: Verdana;
            font-size: 16px;
			line-height: 1%;
        }

        .textbox2{
            width: 15%;
            height: 70%;
            font-size: 18px;
            font-family: calibri;
            font-weight: bold;
            color: #E6600D;
            background-color: transparent;
        }

        .innercontainer{
            margin-top: 2%;
            margin-left: 5%;
            width: 90%;
        }
        
        .bigger{
            font-size: 30px;
        }
		
		#addStudent{
			position: absolute;
			background-color:  #0092D1;
			left: 72%;
			color: white;
			padding: 4px 7px;
			cursor: pointer;
			text-decoration: none;
		}
		
		.item-container4{
			position: absolute;
			top: 20%;
			left: 32.5%;
			display: flex;
			background-color: #f2f2f2;
		}
		
		#note{
			position: absolute;
			color: #E6600D;
			top: 2%;
			left: 2%;
			font-size: 18pt;
			font-family: Calibri;
		}
		
		#close{
			position: absolute;
			color: black;
			top: 3%;
			right: 4%;
			font-size: 10pt;
			font-family: Calibri;
			cursor: pointer;
		}
        
        #student_overlay{
           position: fixed;
			display: none;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0,0,0,0.5);
			z-index: 2;
			font-family: SignPainter; 
        }
        
        .item-container4{
			position: absolute;
			top: 15%;
			left: 36.5%;
			display: flex;
			background-color: #f2f2f2;
			height: 60%;
			width: 30%;
		}
        
        #item-container6{
			position: absolute;
			height: 80%;
			width: 80%;
			top: 4em;
			left: 2.5em;
			font-family: Calibri;
		}
        
        #addStud{
			position: absolute;
            bottom: 2em;
			right: 3em;
			background-color:#E6600D;
			color: white;
			padding: 5px 8px;
			cursor: pointer;
			text-decoration: none;
		}
        
        #lastname, #firstname, #email ,#sapid, #territory, #country, #manager{
			line-height: 2em;
		}