

<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title> Log in</title>
	<link rel="stylesheet" type="text/css" href="{% static 'sapApp/login.css' %}">
</head>


<body>

	<div id=maincontainer>
	
		<div id=logocontainer>
			<img src="{% static 'sapApp/Images/SAPlogin.png' %}" height="70" width="400" background-color="white">
		</div>

		<div id="logincontainer"> 
            <form action="{% url 'sapApp:signIn' %}" method = "post">
                {% csrf_token %}
			<div class="blueblock">
				<p align="center"><br>Academy Evaluation Portal</p>
			</div>

			<div id="userpass"> 
				<br><br>
				<span class="fontUP">&emsp;EMPLOYEE ID:</span>
				<br>
				<input type="text" class="username" name="userName">
				<br><br>
				<span class="fontUP">&emsp;PASSWORD:</span>
				<br>
				<input type="text" class="password" name="userPassword">
				<br>

			</div>

			<button type="submit">Log In</button>
            </form>
		</div>


	</div>


</body>
</html>


