<html>
    <head>
        {% load static %}
        <title>Student's Information</title>
		<link rel="stylesheet" type="text/css" href="{% static 'sapApp/student2.css' %}">
    </head>
    <body>
        <div class="webpage">
            <div class="header">
                <div class="header-bar1">
                    <div class="item-container">
                        <div class="bar-photo">
                            <a href="/sapApp/dashboard/"><img src = "{% static 'sapApp/Images/saplogo.png' %}" width=65 height=32></a>
                        </div>
                        <div class="bar-item-container">
                        <div class="bar-item">
                            <a href="/sapApp/students/"><span class="item">STUDENTS</span></a>
                        </div>
                            </div>
                        <div class="bar-item-container">
                        <div class="bar-item">
                            <a href="/sapApp/grades/"><span class="item">GRADES</span></a>
                        </div>
                        </div>
                        <div class="bar-item-container">
                        <div class="bar-item">
                            <a href="/sapApp/reports/"><span class="item">REPORTS</span></a>
                        </div>
                    </div>
                        
                    </div>
                    <div class="item-container3">
                        <div class="bar-item2">
                            <span class="greetings">Hi, Lyn Reyes!</span>
                        </div>
                        <div class="bar-photo">
                            <img src = "{% static 'sapApp/Images/usericon.png' %}" width=32 height=28>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header2">
                <div class="header2-bar2">
                    <div class="item-container2">
                    <div class="bar-title">
                        <span class ="bigtext">STUDENT'S INFORMATION</span>
                    </div>
                    <div class="search-container">
                        <input type="text" class="search" placeholder="Search">
                    </div>
                    </div>
                </div>
            </div>
            <div class="middle">
                
                    <div class="table-container">
                        <div class="top-color">.</div>
                        <div class="head"> Student's Name:</div> <div class="name">{{currentStudent.first_name}} {{currentStudent.last_name}}</div>
                        <div class="head2"> Territory:</div> <div class="territory">{{currentStudent.territory}}</div>
                        <div class="grade-container">
                            <table>
                                <tr>
									<th>Last Name</th>
									<td>{{currentStudent.last_name}}</td>
								</tr>
								
								<tr>
									<th>First Name</th>
									<td>{{currentStudent.first_name}}</td>
								</tr>
								<tr>
									<th>SAP ID #</th>
									<td>{{currentStudent.sap_id}}</td>
								</tr>
								<tr>
									<th>Email Address</th>
									<td>{{currentStudent.email_address}}</td>
								</tr>
								<tr>
									<th>Group #</th>
									<td>{{currentStudent.group_number}}</td>
								</tr>
								<tr>
									<th>Territory</th>
									<td>{{currentStudent.territory}}</td>
								</tr>
								<tr>
									<th>Country</th>
									<td>{{currentStudent.country}}</td>
								</tr>
								<tr>
									<th>Manager</th>
									<td>Lyn Reyes</td>
								</tr> 
                            </table>
                        </div>
                    </div>
            </div>
        </div>
    </body>
</html>